.home {
	overflow-x: hidden;
	.item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-size: cover;
		min-height: 100vh
	}
	.item1 {
		position: relative;
		background-image: url('@/assets/images/bg1.jpg');
		.changeFloatNav {
			width: 3rem;
			position: absolute;
			top: 3vw;
			right: 3vw;
		}
		.my-card {
			text-align: center;
			font-size: 0.4rem;
			width: 5rem;
			height: 9rem;
			// @media screen and (min-width: 800px) {
			// 	width: 40vw !important;
			// }
			// @media screen and (min-width: 1400px) {
			// 	width: 20vw !important;
			// }

			.title {
				// antd的组件用css3变换的方式往上移
				transform: translateY(-10%);
				.name {
					font-size: 0.5rem;
				}
				.location {
				}
				.github {
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.csdn {
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}
	}
	.item2 {
		background-image: url('@/assets/images/bg2.jpg');
	}
	.item3 {
		background-image: url('@/assets/images/bg1.jpg');
	}
}
